.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.label {
  color: #2c2c2c;
}

.input {
  padding: 8px 12px;
}

.button {
  padding: 8px 12px;
}

.error {
  color: #df2a2a;
  margin: 8px;
}
